spring:
  application:
    name: Pet-Project-CRUD-App

  datasource:
    url: jdbc:postgresql://localhost:5432/PET_CRUD_APP
    username: postgres
    password: rootroot

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: never

server:
  port: 8080

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG